# vscode
.vscode/settings.json
*.code-workspace

# latex
*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.thm
*.synctex.gz
*.fdb_latexmk
*.fls
thesis.pdf
*.minted
*.lol


# jetbrains
.idea/

# wrapdb
subprojects/.wraplock
subprojects/nlohmann_json*/
subprojects/packagecache/